{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko">
<head>
 <meta charset="UTF-8">
 <style> h1{background-color: rgb(131, 189, 155); text-align: center;}</style>
</head>
<body>
    <br>
 <h1>간단한 아기사자에 대한 퀴즈~</h1>
 <br>
 <p> 세븐틴 중 가장 아기사자의 최애멤버는?</p>
 <form name="form">
  <input type="radio" name="kingName" value="v1">민규<br>
  <input type="radio" name="kingName" value="v2">호시<br>
  <input type="radio" name="kingName" value="v3">정한<br>
  <input type="radio" name="kingName" value="v4">승관<br>
  <input type="button" name="선택" value="정답확인" onclick="myFucntion()">
 </form>
 <p><em>이렇게 힌트를 줬는데 모르면 진짜 너무해ㅠㅡㅠ</em></p>
 <img style="width:300px;height:300px;" src={% static 'img/hoshi2.jpg' %}/>
 <p id="check"></p>
 <script type="text/javascript">
  function myFucntion() {
   if(form.kingName[1].checked==true) document.getElementById("check").innerHTML="역시 저에 대해 잘 아시는군요. 찡긋";
   else document.getElementById("check").innerHTML="헐..매우 실망입니다. 다시 공부해오세요.";
  }
 </script>
</body>
</html>
 
<h4><a href="{% url 'post' %}">무엇이든지 물어보세요!</a></h4>
{% for myapp in myapps.all %}
     <div class="container">
        <a href="{% url 'detail' myapp.id %}">
            TITLE: {{myapp.title}}
        </a>
        <p>---{{myapp.body}}</p>

        <small class="text-muted">{{myapp.pub_date}}</small>
    </div>
    
{%endfor%}